{% extends 'base.jinja' %}

{% block page_content %}
  <div class="container">
    <h1> Welcome to Odin </h1>
    <p> Odin is a tool that helps managers to provide continuous feedback to their team. </p>
  </div>
{% endblock %}
